<html>
  <head>
    <title>FizzBuzz!</title>
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Welcome to FizzBuzz!</h1>
    <%= yield %>
  </body>
</html>
