<form action="/upto">
  Pick a number to fizz up to:
  <input class="input_box" type="text" name="limit" value="<%= @limit %>">
  <input class="button" type="submit" value="Fizz lots of numbers!">
</form>
