<form action="/upto">
  Pick a number to fizz up to:
  <input type="text" name="limit">
  <input type="submit" value="Fizz lots of numbers!">
</form>
<p>Fizzing up to...
<% if @limit > 50
  @limit = 15 %>
  <span style="color: red;">15's enough punk!</span>
<% else %> 
  <%= @limit %>
<% end %>
</p>
<ol>
<% fizzbuzz(@limit).each do |number|
  case number
  when 'FizzBuzz'
    @color = 'red'
  when 'Fizz'
    @color = 'blue'
  when 'Buzz'
    @color = 'green'
  else
    @color = 'black'
  end %>
  <li style="color: <%= @color %>;"><%= number %></li>
<% end %>
</ol>