<%= erb :index %>
<p>Fizzing up to...
<% if @limit > 50
  @limit = 15 %>
  <span style="color: red;">15's enough punk!</span>
<% else %> 
  <%= @limit %>
<% end %>
</p>
<ol>
<% fizzbuzz(@limit).each do |number| %>
  <li style="color: <%= fizz_color(number) %>;"><%= number %></li>
<% end %>
</ol>
